:root {
    --blue: #3DA1DA;
    --orange: #FF9F2E;
    --gray: #C5C5C5;
    --font: 'Rowdies', cursive;
}

 ::-webkit-scrollbar {
    width: 5px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
}

 ::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 10px;
}

::-webkit-input-placeholder {
    color: var(--gray);
}

::-moz-placeholder {
    color: var(--gray);
}

:-ms-input-placeholder {
    color: var(--gray);
}

::-ms-input-placeholder {
    color: var(--gray);
}

::placeholder {
    color: var(--gray);
}

a {
    text-decoration: none;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}

html,
body {
    margin: 0 0 150px 0;
    padding-left: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-family: 'Rowdies', cursive;
}

ul {
    padding: 0px !important;
    margin: 0;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    margin-block-start: 1em;
    -webkit-margin-after: 1em;
    margin-block-end: 1em;
    -webkit-margin-start: 0px;
    margin-inline-start: 0px;
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
    margin: 0;
    padding: 0;
}

input {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

button,
img,
input:focus,
textarea {
    outline: none !important;
}


/*-------------loading section----------------*/

#preloader {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 99999;
}

.progress {
    width: 100%;
    height: 4px;
}

.progress-bar {
    background-color: var(--orange);
    height: 100%;
    -webkit-animation: loading .7s ease-out;
    animation: loading .7s ease-out;
}

@-webkit-keyframes loading {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes loading {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/*----header e menus-----*/

#home {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.header {
    width: 100%;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.logo {
    color: #FF9F2E;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 5px;
    margin-left: 20px;
}

.logo a {
    text-decoration: none;
    -webkit-text-emphasis: none;
    text-emphasis: none;
}

.text1 {
    
    color: var(--orange);
    font-size: 3rem;
    float: left;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.text2 {
    color: var(--blue);
    font-size: 3rem;
    float: left;
}

.menu-container {
    background-color: var(--blue);
    min-width: 560px;
    max-width: 60%;
    height: 100%;
    border-bottom-left-radius: 100px;
}

.menu {
    line-height: 70px;
    margin-left: 80px;
    font-size: 1.2em;
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.menu a:hover {
    color: var(--gray);
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

.menu a {
    margin-right: 30px;
    height: 30px;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

.redondo {
    background-color: white;
    border-radius: 30px;
    color: #3DA1DA;
    font-size: 25px;
}

.main-container {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media only screen and (max-width: 1100px) {
    .text1 {
        font-size: 35px;
    }
    .text2 {
        font-size: 35px;
    }
    .burger-menu {
        position: absolute;
        top: 0.2rem;
        z-index: 1000;
        right: 0.5rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 50px;
        width: 50px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer;
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }
    .hamburguer {
        width: 30px;
        height: 4px;
        border-radius: 50px;
        background-color: var(--orange);
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }
    .hamburguer::before,
    .hamburguer::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 4px;
        border-radius: 50px;
        background-color: var(--orange);
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }
    .hamburguer::before {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    .hamburguer::after {
        -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px);
    }
    .burger-menu.open .hamburguer {
        -webkit-transform: translateX(50px);
        -ms-transform: translateX(50px);
        transform: translateX(50px);
        background: transparent;
    }
    .burger-menu.open .hamburguer::before {
        -webkit-transform: rotate(45deg) translate(-35px, 35px);
        -ms-transform: rotate(45deg) translate(-35px, 35px);
        transform: rotate(45deg) translate(-35px, 35px);
    }
    .burger-menu.open .hamburguer::after {
        -webkit-transform: rotate(-45deg) translate(-35px, -35px);
        -ms-transform: rotate(-45deg) translate(-35px, -35px);
        transform: rotate(-45deg) translate(-35px, -35px);
    }
    .menu-container {
        display: none;
    }
    .menu-mobile {
        position: fixed;
        top: 0;
        right: 0;
        font-family: var(--font);
        font-size: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: var(--blue);
        width: 100%;
        height: 100vh;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        -o-transition: transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s;
    }
    .menu-mobile.ativo {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    .links {
        color: var(--verde);
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        cursor: pointer;
    }
}


/*-----Barra de procura-----*/

.procura {
    height: 60px;
    width: 80vw;
    background-color: var(--blue);
    border-radius: 50px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-top: 10vh;
}

.input-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
}

.input-containers {
    background-color: #fff;
    height: 40px;
    float: left;
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border-radius: 30px;
}


/*propriedades para todos inputs*/

.icon {
    color: var(--gray);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50px;
    height: 100%;
    font-size: 20px;
    float: left;
}


/*propriedades para todos os icones*/

.lab-container {
    min-width: 360px;
    -webkit-box-flex: 2;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;
}

.data-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 300px;
    min-width: 200px;
}

.horario-container {
    max-width: 300px;
    min-width: 200px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.i {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.input-lab {
    height: 100%;
    float: right;
    width: 100%;
    background-color: transparent;
    font-size: 20px;
    font-family: 'Rowdies', cursive;
}

.input-data {
    font-size: 20px;
    font-family: var(--font);
    padding-right: 40px;
    color: var(--gray);
    background-color: transparent;
    height: 40px;
    border: none;
    width: 100%;
    text-align: center;
    cursor: pointer !important;
}

.alarm {
    font-size: 20px;
    padding-right: 40px;
    font-family: var(--font);
    color: var(--gray);
    background-color: transparent;
    height: 40px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.input-horario {
    background-color: transparent;
    font-size: 20px;
    font-family: 'Rowdies', cursive;
    width: 100%;
}

.divisao {
    height: 30px;
    width: 2px;
    margin: 5px 50px 5px 5px;
    background-color: var(--gray);
}

.search-button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 60px;
    float: left;
}

.search-button a {
    width: 100px;
    height: 100px;
}

.button {
    background-color: var(--orange);
    height: 40px;
    float: left;
    margin: 10px;
    width: 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.5;
}

.button i {
    color: #fff;
}


/*-----Resultado da procura-----*/

.resultado {
    margin: 0 auto;
    width: 80%;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
}

.lab {
    background-color: var(--orange);
    width: 435px;
    border-radius: 10px;
    font-family: var(--font);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    margin-top: 20px;
}

.lab-title {
    margin: 15px 25px 10px 30px;
    color: white;
}

.resultado h4 {
    color: var(--gray);
}

.button-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.button-box button {
    border: none;
    margin: 20px 20px 20px 0;
    border-radius: 10px;
    font-size: 2rem;
    font-family: var(--font);
    padding: 10px;
    color: white;
    background-color: var(--blue);
    cursor: pointer;
}

.button-box button:hover {
    background-color: rgb(64, 197, 64);
}

@media only screen and (max-width: 1100px) {
    .procura {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        border-radius: 30px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        min-width: 345px;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .horario-container {
        max-width: none;
        min-width: none;
    }
    .lab-container {
        min-width: 200px;
    }
    .input-lab {
        font-size: 18px;
    }
    .data-container {
        max-width: none;
        min-width: none;
    }
    .search-button {
        width: 100%;
        float: none;
    }
    .search-button button {
        width: calc(100% - 20px);
    }
    .resultado {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .lab {
        width: 340px;
    }
    .lab-title {
        margin: 15px 20px 10px 30px;
    }
    .lab-title h1 {
        line-height: 2;
        font-size: 18px;
    }
    .lab-title p {
        font-size: 12px;
    }
    .button-box button {
        font-size: 22px;
        padding: 15px 10px 15px 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}


/*-----Reserva Box-----*/

.reserva-container {
    background-color: var(--blue);
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    padding: 10px 20px 10px 20px;
    min-width: 350px;
    max-width: 500px;
    width: 80vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    color: white;
    border-radius: 30px;
    -webkit-box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reserva-header {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 25px;
    margin-left: 10px;
}

.reserva-header p {
    font-size: 20px;
    color: var(--orange);
    line-height: 0.5;
}

.reserva-header i {
    position: absolute;
    font-size: 30px;
    top: 20;
    right: 20;
}

.reserva-header i:hover {
    color: gray;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.buttons button {
    border: none;
    width: 100%;
    border-radius: 30px;
    font-size: 30px;
    font-family: var(--font);
    padding: 5px;
    margin: 10px 10px 10px 10px;
    color: white;
    background-color: var(--orange);
    cursor: pointer;
}

.buttons button:hover {
    opacity: 0.7;
}

.reserva-inputs {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 20px 0px 0px 0px;
}

#input-data2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#input-data2.hide {
    display: none !important;
}

@media only screen and (max-width: 1100px) {
    .reserva-container {
        padding: 10px 10px 10px 10px;
        min-width: 350px;
        max-width: 500px;
    }
    .reserva-header h1 {
        font-size: 30px;
    }
    .reserva-header p {
        font-size: 16px;
    }
    .reserva-header i {
        font-size: 30px;
    }
    .reserva-inputs {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 20px 0px 0px 0px;
    }
}


/*------switch simples/recorrente-----*/

.onoffswitch {
    position: relative;
    width: 152px;
    margin: 10px 0 0 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "Simples";
    padding-left: 15px;
    background-color: #B0B0B0;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "Recorrente";
    padding-right: 15px;
    background-color: #FF9F2E;
    color: #FFFFFF;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 25px;
    margin: 2.5px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 122px;
    border: 2px solid #999999;
    border-radius: 20px;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.icon_select_mate {
    position: absolute;
    top: 10px;
    right: 2%;
    font-size: 20px;
    height: 22px;
    -webkit-transition: all 275ms;
    -o-transition: all 275ms;
    transition: all 275ms;
    ;
}

.select_mate {
    position: relative;
    text-align: center;
    font-size: 20px;
    padding-right: 40px;
    float: left;
    width: 100%;
    min-height: 40px;
    line-height: 40px;
    font-family: var(--font);
    color: var(--gray);
    background-color: transparent;
    -webkit-transition: all 375ms ease-in-out;
    -o-transition: all 375ms ease-in-out;
    transition: all 375ms ease-in-out;
}


.select_mate select {
    position: absolute;
    overflow: hidden;
    height: 0px;
    opacity: 0;
    z-index: -1;
}

.cont_list_select_mate {
    position: relative;
    float: left;
    width: 100%;
}

.cont_select_int {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
    overflow: hidden;
    height: 0px;
    width: 100%;
    background-color: transparent;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    -webkit-transition: all 375ms ease-in-out;
    -o-transition: all 375ms ease-in-out;
    transition: all 375ms ease-in-out;
}

.cont_select_int li {
    position: relative;
    float: left;
    width: 96%;
    border-bottom: 1px solid #E0E0E0;
    background-color: #F5F5F5;
    list-style-type: none;
    margin: 0px;
    -webkit-transition: all 275ms ease-in-out;
    -o-transition: all 275ms ease-in-out;
    transition: all 275ms ease-in-out;
    display: block;
    cursor: pointer;
}

.cont_select_int li:last-child {
    border-radius: 3px;
    border-bottom: 0px;
}

.cont_select_int li:hover {
    background-color: var(--orange);
    color: white;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

.cont_select_int .active {
    background-color: #EEEEEE;
}


/* etiqueta <p> con la opcion selecionada  */

#select-date {
    display: none;
}

#select-date.show {
    display: flex;
}

.selecionado_opcion {
    width: 96%;
    display: block;
    margin: 0px;
    cursor: pointer;
}

.select-time-container{
    padding-right: 40px;
    width: 100%;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.select-time {
    background-color: transparent;
    border: none;
    color: var(--gray);
    font-size: 20px;
    line-height: 40px;
    font-family: var(--font);
}

