/*-----Definições de variaveis e formatando tags-----*/

:root {
    --blue: #3DA1DA;
    --orange: #FF9F2E;
    --gray: #C5C5C5;
    --font: 'Rowdies', cursive;
}

 ::-webkit-scrollbar {
    width: 5px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
}

 ::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 10px;
}

::placeholder {
    color: var(--gray);
}

a {
    text-decoration: none;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: 0;
}

html,
body {
    margin: 0;
    padding-left: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    height: 3000px;
    font-family: 'Rowdies', cursive;
}

ul {
    padding: 0px !important;
    margin: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0;
    padding: 0;
}

input {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

button,
img,
input:focus,
textarea {
    outline: none !important;
}


/*-------------loading section----------------*/

#preloader {
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 99999;
}

.progress {
    width: 100%;
    height: 4px;
}

.progress-bar {
    background-color: var(--orange);
    height: 100%;
    animation: loading .7s ease-out;
}

@keyframes loading {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}



/*----header e menus-----*/

#home {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.header {
    width: 100%;
    height: 8vh;
    display: flex;
}

.logo {
    color: #FF9F2E;
    flex: 1 1 auto;
    margin: 5px;
    margin-left: 20px;
}

.logo a {
    text-decoration: none;
    text-emphasis: none;
}

.text1 {
    color: var(--blue);
    font-size: 3rem;
    float: left;
    width: fit-content;
}

.text2 {
    color: var(--orange);
    font-size: 3rem;
    float: left;
}

.menu-container {
    background-color: var(--blue);
    min-width: 560px;     
    max-width: 60%;
    height: 100%;
    border-bottom-left-radius: 100px;
}

.menu {
    line-height: 70px;
    margin-left: 80px;
    font-size: 1.2em;
    height: 100%;
    flex: 1 1 auto;
}

.menu a:hover {
    color: var(--gray);
    transition: .5s ease;
}

.menu a {
    margin-right: 30px;
    height: 30px;
    transition: .5s ease;
}

.redondo {
    background-color: white;
    border-radius: 30px;
    color: #3DA1DA;
    font-size: 25px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1100px) {
    .text1 {
        font-size: 35px;
    }
    
    .text2 {
        font-size: 35px;
    }

    .burger-menu {
        position: absolute;
        top: 0.2rem;
        z-index: 1000;
        right: 0.5rem;
        display: flex;
        height: 50px;
        width: 50px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }
    
    .hamburguer {
        width: 30px;
        height: 4px;
        border-radius: 50px;
        background-color: var(--orange);
        transition: all .5s ease-in-out;
    }
    
    .hamburguer::before,
    .hamburguer::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 4px;
        border-radius: 50px;
        background-color: var(--orange);
        transition: all .5s ease-in-out;
    }
    
    .hamburguer::before {
        transform: translateY(-10px);
    }
    
    .hamburguer::after {
        transform: translateY(10px);
    }
    
    .burger-menu.open .hamburguer {
        transform: translateX(50px);
        background: transparent;
    }
    
    .burger-menu.open .hamburguer::before {
        transform: rotate(45deg) translate(-35px, 35px);
    }
    
    .burger-menu.open .hamburguer::after {
        transform: rotate(-45deg) translate(-35px, -35px);
    }

    .menu-container { 
        display: none;
    }

    .menu-mobile {
        position: fixed;
        top: 0;
        right: 0;
        font-family: var(--font);
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: var(--blue);
        width: 100%;
        height: 100vh;
        transform: translateX(-100%);
        transition: transform .5s;
    }   
    
    .menu-mobile.ativo {
        transform: translateX(0);
    }
    
    .links {
        color: var(--verde);
        width: fit-content;
        cursor: pointer;
    }

}

/*-----Barra de procura-----*/
.procura {
    height: 60px;
    width: 80vw;
    background-color: var(--blue);
    border-radius: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10vh;
}

.input-box {
    display: flex;
    height: 100%;
    width: 100%;
}

.input-containers {
    background-color: #fff;
    height: 40px;
    float: left;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
    border-radius: 30px; 
} /*propriedades para todos inputs*/

.icon {
    color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    font-size: 20px;
    float: left;
} /*propriedades para todos os icones*/

.lab-container {    
    min-width: 360px;
    flex: 2 1 auto;
}

.data-container {
    flex: 1 1 auto;
    max-width: 300px;
    min-width: 200px;
}

.horario-container {   
    max-width: 300px;
    min-width: 200px;
    flex: 1 1 auto;
}

.i {
    height: fit-content;
}

.input-lab {
    height: 100%;
    float: right;
    width: 100%; 
    background-color: transparent;
    font-size: 20px;
    font-family: 'Rowdies', cursive;
}

#input-data {
    font-size: 20px;
    font-family: var(--font);
    color: var(--gray);
    background-color: transparent;
    height: 40px;
    border: none;
    cursor: pointer;width: 100%;
    text-align: center;
}

#alarm {
    font-size: 20px;
    font-family: var(--font);
    color: var(--gray);
    background-color: transparent;
    height: 40px;
    border: none;
    cursor: pointer;width: 100%;
    text-align: center;
}

.input-horario {
    background-color: transparent;
    font-size: 20px;
    font-family: 'Rowdies', cursive;
    width: 100%;
}

.divisao {
    height: 30px;
    width: 2px;
    margin: 5px 50px 5px 5px;
    background-color: var(--gray);
}



.search-button {
    width: fit-content;
    height: 60px;
    float: left;
}

.search-button a {
    width: 100px;
    height: 100px;
}

.button {
    background-color: var(--orange);
    height: 40px;
    float: left;
    margin: 10px;
    width: 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.5;
}

.button i {
    color: #fff;
}

/*-----Resultado da procura-----*/

.resultado {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 420px);
}

.lab {
    background-color: var(--orange);
    width: 405px;
    border-radius: 10px;
    font-family: var(--font);
    display: flex;
    height: 100px;
    margin-top: 20px;
}

.lab-title {
    margin: 15px 25px 10px 30px;
    color: white;
}

.resultado h4 {
    color: var(--gray);
}

.button-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-box button {
    border: none;
    margin: 20px;
    border-radius: 10px;
    font-size: 2rem;
    font-family: var(--font);
    padding: 10px;
    color: white;
    background-color: var(--blue);
    cursor: pointer;
    
}

.button-box button:hover {
    background-color: rgb(64, 197, 64);
    
}

@media only screen and (max-width: 1100px) {
    .procura {
        height: fit-content;        
        border-radius: 30px;        
        flex-direction: column;
        flex-wrap: wrap;    
        min-width: 345px;   
        margin-top: 5vh;
        margin-bottom: 5vh;
    }   
    .horario-container {
        max-width: none;
        min-width: none;
    }
    .lab-container {
        min-width: 200px;
    }
    .input-lab {
        font-size: 18px;
    }
    .data-container {
        max-width: none;
        min-width: none;
    }
    .search-button {
        width: 100% ;        
        float: none ;
    }
    .search-button button {
        width: calc(100% - 20px);
    }    
  
    .resultado {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .lab {
        width: 340px;
    }
    
    .lab-title {
        font-size: 14px;
    }    

    .button-box button {
        font-size: 22px;
        padding: 15px 10px 15px 10px;        
    }    
}